* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1{
  text-align: center;
  color: bisque;
  font-weight: 900;
}

.container {
  background-color: #24232b;
  padding: 24px;
  border-radius: 10px;
  width: 50%;
  margin: 50px auto;
  /* background-image: url("./assets/bgImg.jpg") ; */
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2028be;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copyBtn {
  height: 30px;
  font-size: 10px;
}

.charLength {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 24px;
}

.charLength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.generateBtn {
  width: 100%;
  font-size: 20px;
  padding: 20px;
}

.errorMsg {
  color: red;
  padding-bottom: 5px;
}

.password-strength {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  color: white;
}
